absl-py==0.9.0
accounting==1.0.0
asgiref==3.2.3
asn1crypto==0.24.0
astor==0.8.1
async-generator==1.10
attrs==17.4.0
Automat==0.6.0
Babel==2.7.0
Django==3.0.3
django-ajax-selects==1.7.1
django-allauth==0.22.0
django-autocomplete-light==3.4.1
django-bootstrap3==11.1.0
django-cart==1.0.4
django-crispy-forms==1.8.1
django-messages==0.6.0
django-paytm==0.1
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
django-simple-email-confirmation==0.60	
django-storages==1.6.5
django-verified-email-field==1.5.1
djangocms-installer==1.2.0
djangorestframework==3.11.0
